@font-face {
	font-family: 'vli';
	src:url('/fonts/vli.eot?-jbdd0d');
	src:url('/fonts/vli.eot?#iefix-jbdd0d') format('embedded-opentype'),
		url('/fonts/vli.woff?-jbdd0d') format('woff'),
		url('/fonts/vli.ttf?-jbdd0d') format('truetype'),
		url('/fonts/vli.svg?-jbdd0d#vli') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'vli';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vim:before {
	content: "\e600";
}
.icon-vim-live-it:before {
	content: "\e601";
}
.icon-vim-o:before {
	content: "\e602";
}
.icon-vim-live-it-o:before {
	content: "\e603";
}
.icon-vim-o-live-it-horiz:before {
	content: "\e604";
}
.icon-live-it:before {
	content: "\e605";
}
